<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="./angular.min.js"></script>
    <script src="./test.js"></script>
    <link href="./test.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>AngularJS サンプル</h1>
    <div>
      <p>
	<input type="text" ng-model="yourName" />
      </p>
      <p>
	Hello {{yourName|uppercase}}
      </p>
    </div>
    <h2>リスト</h2>
    <div ng-controller="myController as ctrl">
      <ul>
	<li ng-repeat="member in ctrl.members|orderBy:'age':true">{{member.name}} {{member.age}}</li>
      </ul>
      <div>
	{{ctrl.members.length}} members
      </div>
    </div>
  </body>
</html>
